body{
  background-color: rgb(39, 39, 71)
}
.App{
  text-align: center;
}

.input-group{
  width: 60%;
}

.card{
  max-width: 60%;
}

.card-title{
  position:absolute;
  padding: 20px;
  
  
}

.card-date{
  position:absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
}

.image_you{
  height: 400px;
  width: 398px;
}

.image_sergi{
  height: 400px;
  width: 398px;
}

.image_city{
  height: 400px;
  width: 398px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
